<div class = 'restaurantinfo'>
  <% if @restaurant.image_url %>
    <%= image_tag @restaurant.image_url %>
  <% end %>
  <p>
    <strong>Name:</strong>
    <%= @restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @restaurant.phone %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= @restaurant.website %>
  </p>

  <p>
    <strong>Average Rating:</strong>
    <%= @avg_rating %>
  </p>

  <p>
    <strong> # of Reviews: </strong>
    <%= @reviews.length %>
  </p>
  <%= link_to 'Review', new_restaurant_review_path(@restaurant), class: 'btn btn-link' %> |
  <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-link' %> 
|
<%= link_to 'Back', restaurants_path, class: 'btn btn-link' %>
</div>
<div class = 'reviewloop'>
  <h2> Reviews </h2>
  <% if @reviews.blank? %>
    <h3>No reviews yet.  Be the first to write one! </h3>
  <% else %>
    <table class="table">
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td>
          <p> Score: <%= review.rating %> </p>
          <p>Comment: <%= review.comment %></p>
          <p>User: <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %> </p>
          <p><%= review.created_at.strftime("%-m/%-d/%-y") %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <% end %>
</div>




